extends layout

block content
  h1= title

    p   Bookstore gives a user the ability to run day-to-day operations in Populi Bookstore—processing orders (Point of Sale and online) and viewing reports. They do not have access to Bookstore Settings